/* div{
    border: 1px solid red;
} */
.full-content{
    display: flex;
}
.image-container{
    width: 50vw;
    
}
.main-image{
    width:50vw;
    height: 100%;
    object-fit: contain;
}
.title-container{
    position: relative;
    margin-top: 20%;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
}
.subtitle-container{
    margin-top: 2rem;
    font-family: 'Noto Serif', serif;
}
.button-container{
    margin-top: 3.1rem;
}
button{
    padding: 1.2rem 4.0rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 1rem;
}
.left-button{
    margin-right: 2.9rem;
}
.right-button{
    margin-left: 2.9rem;
}
.social-media-handles{
    display: flex;
    padding-left: 1rem;
    margin-top: 3.1rem;
}
.icon-image{
    width: 4.4rem;
    /* border: 2px solid green; */
    margin: 0rem 3rem;
}
.dark-mode{
    background-color: black;
    color: white;
}
.dark-mode-image{
    margin-left: 40.79rem;
    width: 3.4rem;
    cursor: pointer;
}
